/CMakeCache.txt
/CMakeFiles/
/cmake_install.cmake
/liblliby.a
/compile_commands.json
/CTestTestfile.cmake
/Testing/

# Makefile generator
/Makefile

# Ninja generator
/.ninja_deps
/.ninja_log
/build.ninja
/rules.ninja
